[submodule "rofi/rofi"]
	path = rofi/rofi
	url = https://github.com/adi1090x/rofi.git
[submodule "rofi/networkmanager-dmenu"]
	path = rofi/networkmanager-dmenu
	url = https://github.com/firecat53/networkmanager-dmenu.git
[submodule "rofi/rofi-bluetooth"]
	path = rofi/rofi-bluetooth
	url = https://github.com/ClydeDroid/rofi-bluetooth
[submodule "rofi/rofi-monitor-selector"]
	path = rofi/rofi-monitor-selector
	url = https://github.com/gmatheu/rofi-monitor-selector.git
[submodule "i3blocks/i3blocks-contrib"]
	path = i3blocks/i3blocks-contrib
	url = https://github.com/vivien/i3blocks-contrib
