rpa
battery-notify

*.xz
workspace_*.json

#ln-remote-chunk: https://codeberg.org/gmatheu/ln-remote-files/raw/branch/main/chunks/self.gitignore
# Ignore files created by this repository
*.old
#ln-remote-chunk:end
