# floating pop up automatically
for_window [window_role="pop-up"] floating enable
for_window [window_role="task_dialog"] floating enable


# Bind App to workspace
# Check class by using xprop command
assign [class="Firefox"] $ws2
assign [class="Slack"] $ws3
assign [class="Teams" title="Microsof Teams (?!Notification)"] $ws4
assign [class="blueman"] $ws10
assign [class="(?i)libreoffice"] $ws8
assign [class="VirtualBox.*"] $ws8
assign [instance="org.remmina.Remmina"] $ws8
assign [instance="zoom"] $ws9
assign [class="zoom"] $ws9
assign [title="Zoom Meeting"] $ws9

# Floating windows
for_window [title="Microsoft Teams Notification"] floating enable sticky
for_window [window_role="task_dialog|bubble|page-info|Preferences|pop-up"] floating enable
for_window [window_role="Open Files"] floating enable sticky
for_window [window_role="File Operation Progress"] floating enable sticky
for_window [class="qBittorrent" window_role="pop-up"] floating enable
for_window [window_type="dialog"] floating enable
for_window [window_type="menu"] floating enable
for_window [title="stt-notes"] floating enable sticky

for_window [class="i3-frame" instance="i3-frame"] move position center
for_window [window_type="DIALOG"] move position center
for_window [floating] move position center
for_window [window_type="dialog"] move position center


# Sticky window
for_window [instance="file_progress"]  sticky enable
for_window [class="info|Mate-color-select|gcolor2|timesup|QtPass|GtkFileChooserDialog"] sticky enable

# Focus window settings
no_focus [window_role="pop-up"]


for_window [title="Playwright Test"] floating disable
assign [title="Playwright Test"] $ws7
